/* Slide show - Main container */
.slide-show-container{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}

.slide-images{
  display: none; /* Hide by default*/
}

.slide-images img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90VH;
}

/* Caption text */
.slide-text {
  color: #f2f2f2;
  font-size: 2.5em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 90%;
  text-align: center;
}
